{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container text-center">
    <ul class="list-inline">
        {% for footprint in footprints %}
            <li>
                <div class="item">
                    {{footprint.expenseType}}: {{footprint.ratio}}
                    <br>
                    <a class="btn btn-secondary" href="{{ path('update_footprint', {'id': footprint.id}) }}">Modifier</a>
                    <a class="btn btn-secondary" href="{{ path('remove_footprint', {'id': footprint.id}) }}">Supprimer</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a class="btn btn-secondary" href="{{ path('create_footprint') }}">Ajouter</a>
</div>
{% endblock %}
