{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container text-center">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-12">
                    {{ form_errors(form.expenseType) }}
                    {{ form_label(form.expenseType) }}
                    <br>
                    {{ form_widget(form.expenseType) }}
                </div>
                <div class="col-12">
                    {{ form_errors(form.ratio) }}
                    {{ form_label(form.ratio) }}
                    <br>
                    {{ form_widget(form.ratio) }}
                </div>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-secondary" type="submit">Modifier</button>
                <a class="btn btn-secondary" href="{{ path('remove_footprint', {'id': footprint.id}) }}">Supprimer</a>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
